[defaults]
callback_whitelist = apimon_profiler
# Important for executor to capture log
# TODO: need to "template" this by executor and enforce plugin
#stdout_callback = apimon_logger
gathering=smart
fact_caching=jsonfile
fact_caching_connection=$HOME/.ansible/facts
fact_caching_timeout=600
host_key_checking=False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
timeout = 10
# shorten the ControlPath which is often too long; when it is,
# ssh connection reuse silently fails, making everything slower.
control_path = %(directory)s/%%h-%%r

[callback_apimon_profiler]
influxdb_host=telegraf
influxdb_port=8186
influxdb_user=foobar
influxdb_password=barfoo
measurement_name=ansible_stats

