---

- name: Scenario 16 - basic heat functionality
  hosts: localhost
  vars:
    prefix: test-scenario16-
    stack_name: "{{ (prefix + 'test_stack_apimon') }}"
  tasks:
    - name: Get The Public Network
      openstack.cloud.networks_info:
        name:  admin_external_net
      register: nets

    - name: Delete Stack
      openstack.cloud.stack:
        name: "{{ stack_name }}"
        state: absent

    - name: Delete orphaned KP
      openstack.cloud.keypair:
        name: "{{ ( prefix + 'test-keypair-apimon') }}"
        state: absent

    - block:
      - name: Create Stack
        openstack.cloud.stack:
          state: present
          template: "files/scenario16_stack_template.yaml"
          name: "{{ stack_name }}"
          parameters:
            public_net_id: "{{ nets['openstack_networks'][0]['id'] }}"

              #      - name: Query Stack
              #        openstack.cloud.stack_info:
              #          name: "{{ stack_name }}"
              #        register: stack_data

      - name: Update Stack
        openstack.cloud.stack:
          state: present
          template: "files/scenario16_stack_template.yaml"
          name: "{{ stack_name }}"
          parameters:
            image: Standard_Debian_9_latest
            public_net_id: "{{ nets['openstack_networks'][0]['id'] }}"

      always:
        - name: Delete stack
          openstack.cloud.stack:
            name: "{{ stack_name }}"
            state: absent
          ignore_errors: True
